*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo{
  height: 30px;
  margin-right: 7px;
}

.nav--logo_text, .nav--title{
  margin: 0;
}

.nav--logo_text{
  margin-right: auto;
  color: #61DAFB;
  font-size: 23px;
}

.nav--title{
  color: white;
  font-weight: 600;
  font-size: 20px;
}

main{
  padding: 57px 30px;
  color: white;
  background-image: url("./reactjs-icon\ 2.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 220px;
}

.main--title{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05cm;
}

.main--facts{
  margin-top: 46px;
}

.main--facts > li{
  padding-block: 10px;
}

.main--facts > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}